.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ErrorPage {
  margin: 65px auto;
  text-align: center;
}
header {
  margin-bottom: 45px;
  display: flex;
  justify-content: space-around;
}
main {
  width: 350px;
  height: 350px;
  border: 2px solid aqua;
  background-color: darkgrey;
  border-radius: 45px;
}
.input {
  margin-right: 10px;
  background-color: aqua;
  margin-left: 45px;
  border-radius: 5px;
  height: 32px;
}
.input::placeholder {
  color: rgb(251, 9, 9);
}
.form {
  margin-top: 35px;
  margin-left: 25px;
}
.click {
  margin-left: 12px;
  border: 2px solid green;
  background-color: blanchedalmond;
  border-radius: 6px;
  color: rgb(8, 8, 8);
  height: 27px;
}
ul {
  margin-left: 45px;
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  overflow: auto;
  color: brown;
  border: 2px solid aqua;
  background: url(/public/logo512.png);
  background-color: #fff;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}
li {
  list-style-type: none;
}
li::before {
  content: "\262F";
  color: rgb(255, 14, 155);
  width: 3px;
  height: 3px;
  margin: 0px 4px 2px 2px;
}
.delete__chat {
  background-color: #b0f3b2;
  margin-left: 15px;
  width: 40px;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%), 0 6px 5px 0 rgb(0 0 0 / 26%);
}
.atric__ul {
  margin-left: 45px;
  height: 50%;
  width: 50%;
  box-sizing: border-box;
  overflow: auto;
  color: brown;
  border: 2px solid aqua;
  background: url(/public/logo512.png);
  background-color: #fff;
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
}

.SingIn {
  width: 67px;
  height: 25px;
  border: 2px solid blue;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background-color: cornflowerblue;
}
.logout {
  width: 67px;
  height: 25px;
  border: 2px solid blue;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background-color: orangered;
}
.Sing__In {
  margin: 25px 46px;
  width: 175px;
  height: 25px;
  border: 2px solid blue;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  background-color: cornflowerblue;
}
.Form__Login {
  width: 260px;
  height: 257px;
  margin: 0 auto;
  outline: 2px solid blue;
  align-content: center;
}
.For__login {
  text-shadow: -1px -1px #fff, -2px -2px #fff, -1px 1px #fff, -2px 2px #fff, 1px 1px #fff, 2px 2px #fff, 1px -1px #fff,
    2px -2px #fff, -3px -3px 2px #bbb, -3px 3px 2px #bbb, 3px 3px 2px #bbb, 3px -3px 2px #bbb;
  color: steelblue;
  transition: all 1s;
  font-size: 20px;
  margin: 7px 46px;
}
.Login__error {
  margin: 0 24px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 0 crimson;
  color: transparent;
  animation: shadows 2s infinite ease-in;
}

@keyframes shadows {
  60% {
    text-shadow: 0 0 0 crimson;
  }
  90% {
    text-shadow: 0 30px 40px transparent;
  }
  100% {
    text-shadow: 0 0 0 transparent;
  }
}
